.wrapper {
    width: 90%;
    margin: 50px auto;
}

.main-product {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.header-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #edeff2;
    width: 100%;
    h3 {
        text-align: center;
        width: 100%;
        color: #292621;
        font-size: 25px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 2px;
    }
    .select-products {
        button {
            border: none;
            background: none;
            cursor: pointer;
            font-weight: 700;
        }
        button:hover {
            color: #ff2020;
            transition: 0.2s;
        }
    }
}

.slider-container {
    text-align: center;
    img {
        width: 100%;
        padding: 20px;
    }
    h3 {
        color: #292621;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 6px;
    }
}

@media only screen and (max-width: 600px) {
    .main-slide {
        grid-template-columns: 1fr;
    }
    .header-slide {
        display: block;
        button {
            margin-top: 20px;
        }
    }
    .slider-container {
        text-align: center;
        width: 100%;
        img {
            width: 100%;
            padding: 20px;
            height: 100%;
        }
    }
}

.row-product {
    padding-top: 20px;
    h4 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}
