.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    gap: 10px;
}

.left {
    display: flex;

    flex-direction: column;
    gap: 10px;
}

.image {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.right {
    border: 1px solid #ccc;
    border-radius: 10px;
    p {
        padding: 10px;
    }
}
