.inner {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    a {
        text-decoration: none;
    }
}

.slide__bar {
    border-right: 1px solid #ccc;
    box-shadow: 0 2px 6px #2553b91a !important;
    cursor: pointer;
    font-weight: 400;

    h4 {
        padding: 10px 20px;
        font-size: 16px;
    }
}

.slide__item {
    position: relative;
    overflow: hidden;
    color: #000000; /* Màu chữ mặc định */
    transition: background 0.3s ease-in-out;
    padding-top: 10px;
}

.slide__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 95%;
    height: 100%;
    background: #e5f1fb; /* Hiệu ứng overlay khi hover */
    transition: left 0.3s ease-in-out;
    z-index: -1;
    border-radius: 0px 20px 20px 0px;
}

#active {
    background: #e5f1fb;
    border-radius: 0px 20px 20px 0px;
    width: 95%;
    color: #0085db;
}

.slide__item:hover::before {
    left: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;

    img {
        padding: 10px;
    }
    h1 {
        font-size: 17px;
    }
}
