.wrapper {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    h4 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }
}
